<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half is-offset-one-quarter">
        <div class="box">
          <div class="has-text-centered">
            <h2 class="is-size-3">New Anony-Compliment 😉</h2>
            <hr>
          </div>
          <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="field">
              <label class="label" for="email">Name</label>
              <p class="control has-icons-left">
                <input type="text" name="name" [(ngModel)]="name" #userName=ngModel class="input is-warning" id="name"
                  placeholder="Name" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label" for="message">Compliment</label>
              <div class="control">
                <textarea id="message" name="message" [(ngModel)]="message" #userMessage=ngModel
                  class="textarea is-warning has-fixed-size" placeholder="Enter Compliment" required></textarea>
              </div>
            </div>
            <button [disabled]="!form.form.valid" class="button is-info" [class.is-loading]="loading">
              Stick <i class="fa fa-thumb-tack"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
