<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head has-background-info has-text-white">
    <h2 class="is-size-4-tablet">Please enter your email</h2>
    <button (click)="closeModal()" class="modal-close is-large" id="modal-close-button" aria-label="close" data-target="modal"></button>
  </header>
  <section class="modal-card-body">
    <div class="has-text-centered" *ngIf="message">
      <p class="has-text-success"><i class="fa fa-check"></i> {{message}}</p>
    </div>
    <form (ngSubmit)="sendResetEmail(form)" #form="ngForm">
      <div class="field">
        <label class="label" for="email">Email:<span class="has-text-danger"> *</span></label>
        <p class="control has-icons-left">
          <input type="email" name="email" [(ngModel)]="email" #userName=ngModel class="input" id="email"
            placeholder="Enter Email" required>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>
      <button name="submit" [disabled]="!form.form.valid" class="button is-info" [class.is-loading]="loading">
          Send&nbsp;<i class="fa fa-send"></i>
        </button>
    </form>
  </section>
</div>
